// COLOR VARIABLES
$color-primary: #FFF;

$color-grey-light-1: #8A8A8A;
$color-grey-light-2: #F2F2F2;

$color-grey-dark: #141414;


// Rotate image
$rotate-image:rotate(-30deg);

// FONT VARIABLES
$font-body: "Poppins", sans-serif;

