.offer {
  margin-bottom: 5rem;
  
  &__container {
    width: 100%;
    background-color: $color-grey-light-2;
    display: flex;
    justify-content: center;
    height: 60vh;
    padding-bottom: 2rem;

    @include respond(phone) {
      height: 50vh;
    }
  }

  &__data {
    align-self: center;
  }

  &__title {
    font-size: 5rem;

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__description {
    font-size: 2rem;
    margin-bottom: 3rem;

    @include respond(phone) {
      font-size: 1rem;
    }
  }
}
