.section{
    padding:5rem 0 2rem;


&-title{
    position:relative;
    font-size: 3rem;
    margin-bottom:3rem;
    text-align: center;
    letter-spacing: 1rem;

    &::after{
        content:"";
        position: absolute;
        width:8rem;
        height:0.5rem;
        top:-35%;
        left:0;
        right:0;
        margin:auto;
        background-color: black;
    }
}


}